<h1 class="h1">JS test SCROLL</h1>

<div class="flex">
	<a href="#section2" data-duration="1000" class="js-scroll" style="font-size: 30px; padding: 100px; background-color: aqua;">Scrol to sec 2</a>
	<a href="#section3" data-duration="500" class="js-scroll" style="font-size: 30px; padding: 100px; background-color: rebeccapurple;">Scrol to sec 3</a>
	<a href="#section4" data-duration="3000" class="js-scroll" style="font-size: 30px; padding: 100px; background-color: green;">Scrol to sec 4</a>
</div>
<hr>
<div>
	<div id="section2" style="font-size: 30px; padding: 100px; background-color: aqua;">section2</div>
	<div id="section3" style="font-size: 30px; padding: 100px; background-color: rebeccapurple;">section3</div>
	<div id="section4" style="font-size: 30px; padding: 100px; background-color: green;">section4</div>
</div>

<hr>