<h1 class="h1">JS test slider</h1>

<div id="slider1" class="js-slider slider">
	<div class="slider__slide">
		<div class="slider__slide-overlay"></div>
		<img class="slider__slide-image js-slider-image" src="" alt="">
	</div>

	<div class="slider__navigation">
		<button class="slider__navigation-button slider__navigation-prev js-prev">prev</button>
		<button class="slider__navigation-button slider__navigation-next js-next">next</button>
	</div>

	<ul class="slider__dots"></ul>
</div>

<div id="slider2" class="js-slider slider">
	<div class="slider__slide">
		<div class="slider__slide-overlay"></div>
		<img class="slider__slide-image js-slider-image" src="" alt="">
	</div>
	
	<div class="slider__navigation">
		<button class="slider__navigation-button slider__navigation-prev js-prev">prev</button>
		<button class="slider__navigation-button slider__navigation-next js-next">next</button>
	</div>

	<ul class="slider__dots"></ul>
</div>