<hr>

<h1 class="h1">JS test SCROLL</h1>
<div class="js-slider">
	<div class="slide">
		<img class="js-slider-image" src="" alt="">
	</div>

	<div class="slider-buttons flex">
		<button class="js-prev">prev</button>
		<button class="js-next">next</button>
	</div>
</div>